@using PocApi.Controllers;
@*@model TestModel;*@

<html>
<head>
    <title></title>
</head>
<body id="body">
    @for (int i = 0; i < 10; i++)
    {
        <h1>@*@Model.Name @i*@</h1>

        <p>à</p>
        <p>é</p>
        <p>ão</p>
        <p>☺</p>
        <p>↓ → ↑ ←</p>

    }
</body>
</html>